<h1>
  <%= @product.name%>
</h1>
<dl>
  <dt>Versions</dt>
  <dd><%= @product.versions %></dd>
<dl>
<table>
  <%= for price <- @product.prices do %>
    <tr>
      <td><%= price.amount %></td>
    </tr>
  <% end %>
</table>